<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">

	<ui:define name="content">
		<h:form>
			<p:panelGrid columns="2">

				<p:outputLabel for="make">Gamintojas:</p:outputLabel>
				<p:inputText id="make"
					value="#{carController.currentCar.selectedCar.make}">
					<f:validateRequired />
				</p:inputText>

				<p:outputLabel for="count">Vagonų skaičius:</p:outputLabel>
				<p:inputText id="count"
					value="#{carController.currentCar.selectedCar.count}">
					<f:validateLongRange minimum="0" maximum="9999"></f:validateLongRange>
				</p:inputText>

				<p:outputLabel for="value">Kaina:</p:outputLabel>
				<p:inputText id="value"
					value="#{carController.currentCar.selectedCar.value}">
					<f:validateDoubleRange minimum="0.01" maximum="999999.00"></f:validateDoubleRange>
					<f:validateRequired />
				</p:inputText>

				<p:outputLabel for="capacity">Talpa kubiniais metrais:</p:outputLabel>
				<p:inputText id="capacity"
					value="#{carController.currentCar.selectedCar.capacity}">
					<f:validateDoubleRange minimum="0.01" maximum="999999.00"></f:validateDoubleRange>
					<f:validateRequired />
				</p:inputText>

				<p:commandButton value="Išsaugoti" action="save"
					actionListener="#{carController.save()}" update="@form"></p:commandButton>
				<p:commandButton value="Atšaukti" action="cancel"
					actionListener="#{carController.cancel()}" update="@form"
					immediate="true"></p:commandButton>

			</p:panelGrid>
		</h:form>
	</ui:define>

	<ui:define name="title">Vagono redagavimo forma</ui:define>
</ui:composition>
