<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">

	<ui:define name="content">
		<h:form>
			<p:panelGrid columns="2">

				<p:outputLabel for="number">Traukinio numeris:</p:outputLabel>
				<p:inputText id="number"
					value="#{trainController.currentTrain.selectedTrain.number}">
					<f:validateRequired />
				</p:inputText>
				
				<p:outputLabel for="date">Pagaminimo data:</p:outputLabel>
				<p:calendar id="date"
					value="#{trainController.currentTrain.selectedTrain.date}"
					locale="lt" pattern="yyyy-MM-dd">
					<f:convertDateTime pattern="yyyy-MM-dd" />
				</p:calendar>

				<p:outputLabel for="maker">Gamintojas:</p:outputLabel>
				<p:inputText id="maker"
					value="#{trainController.currentTrain.selectedTrain.maker}">
					<f:validateLength minimum="2" maximum="20"></f:validateLength>
					<f:validateRequired />
				</p:inputText>
				
				<p:outputLabel for="city">Miestas:</p:outputLabel>
				<p:inputText id="city"
					value="#{trainController.currentTrain.selectedTrain.city}">
					<f:validateLength minimum="2" maximum="15"></f:validateLength>
					<f:validateRequired />
				</p:inputText>

				<p:commandButton value="Išsaugoti" action="save"
					actionListener="#{trainController.save()}" update="@form"></p:commandButton>
				<p:commandButton value="Atšaukti" action="cancel"
					actionListener="#{trainController.cancel()}" update="@form"
					immediate="true"></p:commandButton>

			</p:panelGrid>
		</h:form>
	</ui:define>
	
	<ui:define name="title">Traukinio redagavimo forma</ui:define>
</ui:composition>
