<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">

	<ui:define name="content">
		<h:form>
			<p:commandButton action="add-car"
				actionListener="#{carController.add()}" update="@form"
				value="Pridėti vagoną" />
			<h:outputText value=" " />
			<p:commandButton action="go-to-trains"
				actionListener="#{carController.cancel()}" update="@form"
				value="Visi traukiniai" immediate="true" />
				
			<p:dataTable value="#{trainController.cars()}" var="car">
				<p:column headerText="Vagono tipas">
					#{car.type.carType()}
				</p:column>

				<p:column headerText="Gamintojas">
					#{car.make}
				</p:column>
				
				<p:column headerText="Tūris">
					#{car.capacity} <h:outputText value=" "></h:outputText>
					<h:outputText>m<sup>3</sup></h:outputText>
				</p:column>

				<p:column headerText="Kiekis">
					#{car.count}
				</p:column>

				<p:column headerText="Vieneto vertė">
					#{car.value}
				</p:column>

				<p:column headerText="Visa vagonų kaina">
					#{car.valueTotal()}
				</p:column>
				
				<p:column headerText="Operacijos">
				<p:commandButton action="update" actionListener="#{carController.update(car.id)}" 
				update="@form" value="Redaguoti" resetValues="true" immediate="true" />
				<h:outputText value=" " />
				<p:commandButton actionListener="#{carController.delete(car)}" 
				update="@form" value="Pašalinti vagoną" immediate="true">
					<p:confirm message="Ar tikrai norite pašalinti vagoną?" icon="ui-icon-alert" />
				</p:commandButton>
				
				<p:confirmDialog global="true">
						<p:commandButton value="Taip" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="Ne" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
			</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>

	<ui:define name="title">Vagonai</ui:define>
</ui:composition>
