<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">
  		Untitled page
  	</ui:insert></title>
	<h:outputStylesheet library="css" name="stylesheet.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<ui:insert name="content">
		  	<div id="default-message">The page is empty. Please contact system administrator.</div>
		</ui:insert>
	</div>
</h:body>
</html>
