<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">

	<ui:define name="content">
		<h:form>
			<p:dataTable value="#{trainController.trainRepo.findAll()}"
				var="train">
				<p:column headerText="Traukinio numeris">
					#{train.number}
				</p:column>
				<p:column headerText="Pagaminimo data">
					<h:outputText value="#{train.date}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>
				<p:column headerText="Gamintojas">
					#{train.maker}
				</p:column>
				<p:column headerText="Miestas">
					#{train.city}
				</p:column>
				<p:column headerText="Operacijos">
					<p:commandButton action="view-cars"
						actionListener="#{trainController.viewTrain(train.number)}"
						update="@form" value="Peržiūrėti vagonus" immediate="true" />
					<h:outputText value=" " />
					<p:commandButton action="update"
						actionListener="#{trainController.update(train.number)}"
						update="@form" value="Redaguoti" resetValues="true"
						immediate="true" />
					<h:outputText value=" " />
					<p:commandButton 
						actionListener="#{trainController.delete(train)}"
						update="@form" value="Pašalinti" immediate="true">
						<p:confirm message="Ar tikrai norite pašalinti įrašą nr. #{train.number}?"
							icon="ui-icon-alert" />
					</p:commandButton>

					<p:confirmDialog global="true">
						<p:commandButton value="Taip" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="Ne" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</p:column>

			</p:dataTable>
			<p:commandButton action="add-train"
				actionListener="#{trainController.add()}" update="@form"
				value="Pridėti traukinį" />
		</h:form>

	</ui:define>

	<ui:define name="title">Traukiniai</ui:define>
</ui:composition>
